body{
    background-color: rgb(42, 42, 42);
    padding-top: 5%;
}

.container {
    position: relative;
    left: 11em;
    background-color:rgb(255, 240, 218);
    padding: 1em;
    width: 80%;
    
}

/* Make look pretty bc this text box. ^^ */

/*need button look pretty too, look same, all same button*/

button {
    background-color: rgb(215, 196, 124);
}

button:active {
    background-color: rgb(172, 153, 82);
}

#background{
    position: relative;
    left: 28em;
    width: 50%;
}