body{
    background-color: rgb(42, 42, 42);
    padding-top: 1%;
    color: white;
}
/* .beginning {
    display: flex;
    justify-content: flex-end;
}
.container {
    position: relative;
    left: 11em;
    background-color:rgb(255, 240, 218);
    padding: 1em;
    width: 80%;
    
} */
#background{
    position: relative;
    left: 28em;
    width: 50%;
}
button {
    display: block;
    margin-top: 15px;
  }
  